form{
	width:300px;
	background-color: lightblue;
}
div{
	margin:10px;
}
}
h1{
	color:orangered;
	padding:5px;
	background:yellowgreen;
}
input:hover{
	background: Black;
	color:white;
}
button{
	margin:10px;
	position: relative;
	left:188px;
}
/* Your CSS Code here. */